<section id="hero" style="background-color: rgb(245, 231, 243);">
    
            <div class="" >
                
                    <h2>Welcome to NKH Superspeciality Hospital</h2>
                    <div>
                        <img src="../assets/img/run.jpg" alt="" width="2000px" height="350px">
                    </div>
                        <div>
                            <h5>We are NKH Superspeciality Hospital</h5>
                            
                            <p>NKH- New Korba Hospital is a group of Hospitals headquartered in Mangalam Vihar, Kosabadi, Korba, Chhattisgarh, focusing in bringing quality health services to community so that the patients should not travel at the time of their need, it has become a trusted brand in Korba district and for nearby areas, now NKH is 
                                planning to reach out across the Chhattisgarh especially to remote areas.</p>
                        </div>
                        <div>
                            <h5>About NKH Hospital</h5>
                            <p>A hospital is a health care institution providing patient treatment with specialized 
                                health science and auxiliary healthcare staff and medical equipment. The best-known type of 
                                hospital is the general hospital, which typically has an emergency department to treat 
                                urgent health problems 
                                ranging from fire and accident victims to a sudden illness.</p>

                                
                        </div>
            </div>
</section>